<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    Autor: Kristijan Mihalinec
                </div>
                <div class="card-body">
                    <p class="text-center">Prijava za radno mjesto: .NET Developer (m/ž)</p>
                    <p style="font-weight:bold" class="text-center">Aplikacija FlightSearchEngine</p>
                    <p class="text-center">
                        Aplikacija je izrađena u svrhu prijave za gore navedenu poziciju.
                    </p>
                    <p>
                        Korištene tehnologije su: C#, MS SQL, ASP.NET Core MVC, Entity FrameWork, jQuery, Bootstrap, CSS, HTML.<br />
                        Cilj aplikacije je uspješno spajanje na servis Amadeus Travel API kako bi korisnik mogao pretražiti letove prema zadanim kriterijima<br />
                        kako je opisano u specifikaciji koju sam dobio putem mail-a.
                    </p>

                </div>
                <div class="card-footer text-muted">
                    03.09.2022.
                </div>
            </div>
        </div>
    </div>
</div>